html, body {
  margin: 0px;
  background-color: #daccc0;
  height:100%;
  min-height:100%;
}

.header {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: url("images/IMG_3889.webp") no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-text {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 10;
}

.text {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 20px;  
  width: 100%;
}

.header-text h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 160px;
  font-weight: 800;
  line-height: 150px;
  color: #c97c6f;
  text-shadow: white 3px 3px 3px;
  margin-bottom: 10px;
}

.header-text span {
  font-size: 140px;
}

.header-text h3 {
  font-family: 'Open Sans';
  font-size: 60px;
  color: white;
  margin: 10px
}

.como_llegar {
  background-color: #daccc0;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.como_llegar h1{
  font-family: 'Raleway';
  font-size: 80px;
  font-weight: lighter;
  color: #c97c6f;
  margin: 0px;
  padding-top: 100px;
}

.como_llegar p {
  font-family: 'Raleway';
  font-size: 35px;
  font-weight: 800;
  line-height: 60px;
  color: white;
  padding: 40px;
  margin: 0;
}

.como_llegar h3 {
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: lighter;
  color: #c97c6f;
  margin-bottom: 0;
}

.map {
  width: 200px;
  height: 200px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.content {
  position: relative;
  z-index: 10;
  background-color: #daccc0;
  padding-bottom: 50px;
}

.fotos {
  background-color: #daccc0;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 50px;
  padding-top: 50px;
  border-top: solid white 1px;
}

.fotos img{
  margin: 40px;
  padding: 0;
  width: 400px;
  height: 400px;
  object-fit: cover; 
}

@media screen and (max-device-width: 768px) {
  .text {
    bottom: 200px;
  }

  .fotos img {
    margin: 20px;
    width: 90vw;
    height: 90vw;
  }
}

.fotos h1 {
  text-align: center;
  width: 100%;
  font-family: 'Great Vibes', cursive;
  font-size: 120px;
  font-weight: 800;
  color: #c97c6f;
  text-shadow: white 3px 3px 3px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.regalos {
  background-color: #003644;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.regalos h1{
  font-family: 'Raleway';
  font-size: 80px;
  font-weight: lighter;
  color: #c97c6f;
  margin: 0px;
  padding-top: 100px;
}

.regalos p {
  font-family: 'Raleway';
  font-size: 35px;
  font-weight: 800;
  line-height: 60px;
  color: white;
  padding: 40px;
  margin: 0;
}

.regalos img{
  width: 300px;
  height: 300px;
}
.separator {
  width: 90%;
  margin-left: 5%;
  border-top: 1px solid white;
  margin-top: 50px;
}
.dresscode {
  background-color: #003644;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  padding-bottom: 60px;
}

.dresscode h1{
  font-family: 'Raleway';
  font-size: 80px;
  font-weight: lighter;
  color: #c97c6f;
  margin: 0px;
  padding-top: 100px;
}

.dresscode p{
  font-family: 'Raleway';
  font-size: 35px;
  font-weight: 800;
  line-height: 60px;
  color: white;
  padding: 40px;
  margin: 0;
}

.pandemia {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.pandemia h1 {
  text-align: center;
  width: 100%;
  font-family: 'Great Vibes', cursive;
  font-size: 120px;
  font-weight: 800;
  color: #c97c6f;
  text-shadow: white 3px 3px 3px;
  margin-bottom: 10px;
  margin-top: 60px;
}

.pandemia p {
  font-family: 'Raleway';
  font-size: 35px;
  font-weight: 800;
  line-height: 60px;
  color: white;
  padding: 40px;
  margin: 0;
}

label, legend {
  font-family: 'Raleway';
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  color: white;
  padding: 40px;
  margin: 0;
}

form {
  padding: 40px;
}

fieldset {
  border: none
}

input[type=radio] {
  width: 30px;
  height: 30px;
  border: none;
}
.input-text {
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  width: 50%;
  padding: 5px;
  font-size: 40px;
}

.form {
  margin: 20px;
  border-radius: 10px;
  background-color: #003644;
}

input[type=submit] {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
  width: 30%;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
}